@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--background: #ffffff;
	--foreground: #242424;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-inter: var(--font-inter);
	--animate-meteor-effect: meteor 5s linear infinite;

	@keyframes meteor {
		0% {
			transform: rotate(215deg) translateX(0);
			opacity: 1;
		}
		70% {
			opacity: 1;
		}
		100% {
			transform: rotate(215deg) translateX(-500px);
			opacity: 0;
		}
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #000000;
		--foreground: #ededed;
	}
}

@font-face {
	font-family: "Futura";
	src: url("/fonts/futura medium bt.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Futura Book";
	src: url("/fonts/Futura Book font.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Futura;
}

.futura-med {
	font-family: "Futura", sans-serif;
	font-weight: 500; /* or whatever weight is closest to "med" */
}

.futura-bk {
	font-family: "Futura Book", sans-serif;
	font-weight: 200; /* or whatever weight is closest to "med" */
}

.glitch {
	width: 100%;
	height: 100%;
	/* background: url("/images/sam1_fixedbg.png"); */
	background: url("/images/pingu.png");
	background-size: cover;
	animation: glitch 3.5s infinite steps(1);
}

@keyframes glitch {
	0%,
	100% {
		/* background: url("/images/sam1_fixedbg.png"); */
		background: url("/images/pingu.png");
		background-size: cover;
	}

	92.5% {
		background: url("/images/glitches/glitch (1).png");
		background-size: cover;
		opacity: 1;
	}

	95% {
		background: url("/images/glitches/glitch (2).png");
		background-size: cover;
		opacity: 0;
	}

	97.5% {
		background: url("/images/glitches/glitch (3).png");
		background-size: cover;
		opacity: 1;
	}
}

.spin-group {
	animation: spin-slower 20s linear infinite;
	/* transform-origin: center; */
}

.spin-group:hover {
	animation-play-state: paused;
}

@keyframes spin-slower {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.spin-group {
	animation: spin-slower 20s linear infinite;
	transform-origin: center;
	transform-box: fill-box; /* IMPORTANT for SVG */
}

.prose pre code {
	font-family: "Fira Code", "Courier New", monospace;
	font-size: 0.85rem;
}

.prose p {
	margin-top: 1em;
	margin-bottom: 1em;
}
